.recommendation-heading {
    font-size: 1.8rem;
    font-weight: 500;
}

.recommendation-more-link {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0;
    text-align: end;
}

.recommendation-book-cover {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 0.8rem;
}

.recommendation-book-title {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.4rem;
    text-align: start;
}

.recommendation-book-author {
    font-size: 0.8rem;
    font-weight: 400;
    color: #666;
    margin-bottom: 0;
    text-align: start;
}

.recommendation-book-rating {
    font-size: 0.8rem;
    font-weight: 400;
    text-align: end;
}

.recommendation-book-description {
    font-size: 0.8rem;
    font-weight: 400;
    color: #666;
    margin-bottom: 0;
    text-align: start !important;
    overflow: hidden;
    /* make ... */
    text-overflow: ellipsis;

    /* make sure it's only one line */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.tab-links .col.active {
    /* background-color: red; */
}

.tab-links {
    background-color: white;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 5px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 70%;
}

.tab-links .col a {
    text-decoration: none;
}

.tab-content {
    display: none;
    border: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
    padding: 1rem;
}

.tab-content.active {
    display: block;
}

@media screen and (max-width: 768px) {
    .recommendation-heading {
        font-size: 1.2rem;
    }

    .recommendation-more-link {
        font-size: 0.7rem;
    }

    .recommendation-book-title {
        font-size: 0.8rem;
    }

    .recommendation-book-author {
        font-size: 0.6rem;
    }
}
